@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><iconify-icon icon="game-icons:rat"></iconify-icon> Viernes de Empanadas</h1>    
    <img src="https://pbs.twimg.com/tweet_video_thumb/Ez0deJgXEAA5Vkn.jpg" alt="rataempanada">
    <a asp-action="Login" asp-controller="Account" asp-area="">Login</a>

    
</div>
