@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1 class="display-4">Bye...</h1>
    <img src="https://i.chzbgr.com/full/8545732864/hCD9C3540/funny-cats-gifs-saying-goodbye-to-the-summer-vacation-spot">
    <ul class="navbar-nav flex-grow-1" style="margin-top:20px;">
       
            <li class="nav-item">
            ¿Te arrepentiste?  ¡<a asp-area="" asp-controller="Account" asp-action="Login">Volvé</a>!
            </li>
    </ul>
</div>