@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1 class="display-4">Bye...</h1>
    <!--<img src="https://pbs.twimg.com/tweet_video_thumb/Ez0deJgXEAA5Vkn.jpg">-->
    <ul class="navbar-nav flex-grow-1">
       
            <li class="nav-item">
                <a asp-area="" asp-controller="Account" asp-action="Login">Iniciá sesión</a> para hacer tu pedido
            </li
    </ul>
</div>