html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(#F1F3FB, #DCFBF5);
}

.navbar {
    background-color: #DCFBF5 !important;
}

.nav-tabs .nav-link {
    background-color: lightskyblue;
}

.nav-tabs .nav-item {
    margin-right: 15px;
}

.cantidades{
    width: 50px;
}

footer{
    position:absolute;
    bottom:30px;
}
.btn-custom {
    background-color: #A2BDF7;
    color:white;
    margin-top: 5px;
}
    .btn-custom:hover {
        background-color: #83DDCA;
        color: white;
    }
a{
    text-decoration:none;
}
.alert-danger{
    text-decoration:none;
    list-style:none !important;
}