@using Shared.DTOs
@model PedidoDto
@{
    ViewData["Title"] = "Mostrar Pedido";
}
@{
    var userName = Context.Session.GetString("UserName");
    var token = Context.Session.GetString("Token");
}


<div class="text-center">
    @if (string.IsNullOrEmpty(userName) || string.IsNullOrEmpty(token))
    {
        <h1 class="display-4">¡Hola!</h1>
        <p><a asp-area="" asp-controller="Account" asp-action="Login">Iniciá sesión</a> para ver tu pedido.</p>
    }
    else
    {
        <div>
            <h3 class="display-4">Pedido de @userName</h3>           
        </div>

        <div class="card border-0" style="background-color:transparent">
            <div class="card-body row align-content-center align-items-center justify-content-center border-0" style="background-color:transparent;">
                @if (Model == null || Model.Pedido.Count() == 0)
                {
                    <div class="col-6 align-self-center align-content-center align-items-end justify-content-center">
                        <p>...mmmm parece que que no pediste nada hoy.</p>
                        <img style="height:300px; width:auto" src="https://media.tenor.com/zv7Jji1mY3kAAAAC/sus-fry.gif">
                    </div>
                }
                else
                {    
                    <div class="col-6">
                        <h4 class="card-subtitle mb-2 text-body-secondary">Este es tu pedido de hoy</h4>
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.Pedido)
                            {
                                <li class="list-group-item">@item.Cantidad - @item.Empanada</li>
                            }
                        </ul>
                    </div>

                    <div class="col-6">
                        <h4 class="display-6">¡Gracias, vuelva prontos!</h4>
                        <img src="https://pbs.twimg.com/media/ECmQC6pXoAEpUbC.jpg" height="400">
                    </div>
                    
                }                       
            </div>
        </div>
    }   
</div>
