@{
    ViewData["Title"] = "Mostrar Pedido";
}


<div class="text-center">
    <div>
        <h1 class="display-4">¡Gracias, vuelva prontos!</h1>
        <img src="https://pbs.twimg.com/media/ECmQC6pXoAEpUbC.jpg">
    </div>     
</div>
