@model Shared.DTOs.DetallePedidoDto

@{
    var opcionesGustos = new List<string>
    {
        "CP - Carne Picante (cortada a cuchillo)",
        "CS - Carne Suave (cortada a cuchillo)",
        "CD - Carne Dulce",
        "CM - Carne Molida Suave",
        "PP - Pollo Picante",
        "PS - Pollo Suave",
        "JQ - Jamón y Queso",
        "Cebolla y Mozzarella",
        "Cantimpalo y Mozzarella",
        "RQ - Roquefort",
        "RJ - Roquefort y Jamón",
        "TA - Mozzarella, Tomate y Albahaca",
        "VE - Verdura y Salsa Blanca",
        "HU - Humita",
        "HM - Humita y Mozzarella",
        "AT - Atún",
        "RG - Rata Gourmet"
    };
}
<div class="d-flex justify-content-around align-items-center bg-black text-white" style="padding:20px; margin-bottom:20px">
    <h2>Hacé tu pedido</h2>
</div>


@using (Html.BeginForm("RealizarPedido", "Pedido", FormMethod.Post))
{
    <div>        
        @for (int i = 0; i < opcionesGustos.Count; i++)
        {
            <div class="lista-pedido row justify-content-md-center">
                @Html.Hidden("PedidoItems[" + i + "].Empanada", opcionesGustos[i])
                <label class="col-4">
                    @opcionesGustos[i]
                </label>
                <label class="col-4">
                    Cantidad:
                    @*<input type="number" name="PedidoItems[@i].Empanada" value="@opcionesGustos[i]" style="display: none;" />*@
                    <input type="number" name="PedidoItems[@i].Cantidad" min="0" value="0"/>
                </label>
            </div>
        }
    </div>

    <input type="submit" value="Realizar Pedido" />
}
